.natureSlider{
    padding: 40px 0 40px 0;
}

.swiper {
    overflow: visible !important;

}

.swiper-slide {
    width: auto;
    transition: transform 0.3s ease;
    opacity: 0.5;
    transform: scale(0.9);
}

.swiper-slide img {
    width: 100%;
    border-radius: none;
    object-fit: cover;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}

.natureSlider-title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
}