.natureSlider {
    padding: 40px 0;
    display: block;
}

.swiper {
    overflow: hidden !important;

}

.swiper-slide {
    width: 166px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.3s;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.swiper-img {
    width: 384px;
    height: 211px;
    object-fit: cover;
    max-width: none;
}

.natureSlider-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
}

/* ////////////////// tablet ////////////////// */

@media screen and (max-width: 768px) {
    .natureSlider {
            display: none;
        }
}

/* ////////////////// mobile ////////////////// */

@media screen and (max-width: 480px) {

    .natureSlider {
            display: none;
        }
}