
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/backgroundHero.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin: 0;
}

.hero-title{
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;

}

.hero-text-wrapper{

    display: flex;
    margin: 95px;
    align-items: center;
}

.hero-leftText{
    width: 345px;
    color: white;
    font-size: 24px;
}

.hero-line-desktop{
    width: 3px;
    height: 110px;
    background-color: white;
    border: 3px;
    margin: 35px;
}
.hero-line-mobile{
    display: none;
}

.hero-rightText{
        color: white;
            font-size: 24px;
}

.hero-input-wrapper{
    display: flex;
    align-items: flex-end;
}

.hero-input{
    width: 625px;
    height: 42px;
    
    background-color: rgba(217, 217, 217, 1);
    padding-left: 35px;
    border-radius: 10px 0  0 10px;
    border: none;
}

.hero-search-btn{
    background-color: rgba(255, 179, 108, 1);
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 9px;
    border-left: 2px solid black;

}

/* ////////////////// tablet ////////////////// */

@media screen and (max-width: 768px) {
    .hero {
            
        }
    
        .hero-title {
            font-size: 20px;
    
        }
    
        .hero-text-wrapper {
    align-items: flex-start;
    gap: 40px;
            
        }
    
        .hero-leftText {
            width: 172px;
            font-size: 14px;
            text-align: right;
        }
    
        .hero-line-desktop {
            margin: 0;
        }
    
        .hero-line-mobile {
            display: none;
        }
    
        .hero-rightText {
            font-size: 14px;
        }
    
        .hero-input-wrapper {
            
        }
    
        .hero-input {
            width: 402px;
                height: 27px;
        }
    
        .hero-search-btn {
            padding: 6px;
            
        }
        .hero-search-img{
            width: 16px;
            
        }
}



/* ////////////////// mobile ////////////////// */

@media screen and (max-width: 480px) {
    .hero {
        display: flex;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/backgroundHeroMobile.png);
        }
    
        .hero-title {
            font-size: 14px;
            padding-bottom: 50px;
    
        }
        .hero-box-wrapper{
            display: flex;
                    align-items: center;
                    
        }
    
        .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
                align-items: flex-start;
                margin-left: 30px;
                gap: 20px;
        }
    
        .hero-leftText {
            font-size: 10px;
        }

        .hero-line-desktop{
            display: none;
        }

        .hero-line-mobile{
            display: block;
                    width: 3px;
                        height: 80px;
                        background-color: white;
                        border: 3px;
        }

    
        .hero-rightText {
            font-size: 10px;
        }
    
        .hero-input-wrapper {
            padding-top: 50px;
        }
    
        .hero-input {
            width: 174px;
            height: 15px;
            border-radius: 5px 0 0 5px;
            font-size: 6px;
            padding-left: 15px;
        }
    
        .hero-search-btn {
            padding: 3px;
        }

        .hero-search-img{
            width: 9px;

                    }
}


