.weeklyForecast{
  background-color: rgba(232, 232, 232, 1);
  border-radius: 20px;
  margin-top: 40px;
}

.weeklyForecast-container{
    padding: 30px 60px 30px 60px;
}

.weeklyForecast-title-desktop{
    display: block;
font-family: Montserrat;
font-weight: 600;
font-size: 16px;
padding-bottom: 20px;
}

.weeklyForecast-title-tablet{
    display: none;
}

.weeklyForecast-list{
display: flex;
flex-direction: column;
gap: 20px;
}

.weeklyForecast-card{
display: flex;
    justify-content: space-between;
    align-items: center;
background-color: rgba(217, 217, 217, 1);
border-radius: 10px;
font-family: Montserrat;
font-weight: 500;
font-size: 16px;
padding: 0 50px  0 50px ;
}

.weeklyForecast-date{

}

.weeklyForecast-box-middleOfCard{
    display: flex;
    align-items: center;
    gap: 10px;
}

.weeklyForecast-icon{
width: 45px;
}

.weeklyForecast-temp{

}

.weeklyForecast-weather-description{

}





/* ////////////////// tablet ////////////////// */

@media screen and (max-width: 768px) {
    .weeklyForecast {
          margin-bottom: 30px;
        }
    
        .weeklyForecast-container {
            padding: 20px 30px 20px 30px;
        }
    
        .weeklyForecast-title-desktop {
            display: none;
        }
    
        .weeklyForecast-title-tablet {
            display: block;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 12px;
            padding-bottom: 15px;
        }
    
        .weeklyForecast-list {

        }
    
        .weeklyForecast-card {
font-size: 12px;
padding: 0 11px 0 11px;
        }
    
        .weeklyForecast-date {}
    
        .weeklyForecast-box-middleOfCard {

        }
    
        .weeklyForecast-icon {
width: 35px;
        }
    
        .weeklyForecast-temp {}
    
        .weeklyForecast-weather-description {}

}


/* ////////////////// mobile ////////////////// */

@media screen and (max-width: 480px) {

    .weeklyForecast {
        margin: 30px 50px 30px 50px;
    }

    .weeklyForecast-container {
        padding: 10px 25px 10px 25px;
    }
                .weeklyForecast-title-desktop {
                    display: none;
                }
        
                .weeklyForecast-title-tablet {
                   font-size: 10px;
                   margin-top: 10px;
                }
        
                .weeklyForecast-list {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    flex-wrap: wrap;
                    justify-content: center;
                }
        
                .weeklyForecast-card {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    width: 100px;
                    height: 140px;
                }
        
                .weeklyForecast-date {
                    font-size: 10px;
                }
        
                .weeklyForecast-box-middleOfCard {
                    display: flex;
                    flex-direction: column;
                }
        
                .weeklyForecast-icon {
                width: 50px;
                }
        
                .weeklyForecast-temp {
                    font-size: 10px;
                }
        
                .weeklyForecast-weather-description {
                    font-size: 10px;
                }
}

