.weatherDetails{
    margin-bottom: 30px;
}

.weatherDetails-list{
    background-color: rgba(232, 232, 232, 1);
    border-radius: 20px;
padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.weatherDetails-item{ 
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
width: 290px;
height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weatherDetails-type-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.weatherDetails-name-text{
        font-family: Montserrat;
    font-weight: 500;
    font-size: 32px;
}

.weatherDetails-img{}


/* ////////////////// tablet ////////////////// */

@media screen and (max-width: 768px) {
    .weatherDetails {

        }
    
        .weatherDetails-list {
             gap: 20px;
             padding-left: 5px;
             padding-right: 5px;
        }
    
        .weatherDetails-item {
             width: 177px;
             height: 200px;

        }
    
        .weatherDetails-type-text {
              font-size: 12px;
        }
    
        .weatherDetails-name-text {
               font-size: 16px;
        }
    
        .weatherDetails-img {
            width: 60px;
        }
}

/* ////////////////// mobile ////////////////// */

@media screen and (max-width: 480px) {

    .weatherDetails {
        padding: 0;
    }

            .weatherDetails-list {
                display: flex;
                flex-wrap: wrap;
            }

            .weatherDetails-item {
                width: auto;
                height: auto;
                padding: 20px 60px;

            }

            .weatherDetails-type-text {
                font-size: 10px;
            }

            .weatherDetails-name-text {
                font-size: 14px;
            }

            .weatherDetails-img {
width: 60px;
            }
}


















