.header{
    padding: 20px;
    display: flex;
        align-items: center;
        justify-content: space-around;
}

.logo-svg{}

.navigation{
    
}

.nav-list{
  display: flex;
 
  gap: 45px;
}

.nav-item{}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    border: none;
    background-color: rgba(255, 179, 108, 1);
}

.user-svg{}

.header-right-box{
    display: flex;
    align-items: center;
    gap: 30px;
    
}




