.header{
    padding: 20px;
    display: flex;
        align-items: center;
        justify-content: space-around;
}

.logo-svg{}

.header-navigation{
    
}

.nav-list{
  display: flex;
 
  gap: 45px;
}

.nav-item{}

.header-button{
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Montserrat Alternates;
    border: none;
    background-color: rgba(255, 179, 108, 1);

}

.user-svg{

}

.header-right-box {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-mobile-menu{
    display: none;
}

/* ////////////////// tablet ////////////////// */

@media screen and (max-width: 768px) {
    .header {
            
        }
    
        .logo-svg {
            width: 54px;
        }
    
        .header-navigation {}
    
        .nav-list {
            
        }
    
        .nav-item {
            font-size: 10px;
        }
    
        .header-button {
            padding: 8px 16px;
            font-size: 10px;
        }
    
        .user-svg {
            width: 40px;
        }
    
        .header-right-box {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    
        .header-mobile-menu {
            display: none;
        }
}

/* ////////////////// mobile ////////////////// */

@media screen and (max-width: 480px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
    .logo-svg {
        width: 34px;
        height: 22px;
    }

    .header-navigation {
              display: none;
    }
    
    .header-navigation.open {
              display: block;
    }

    .header-right-box{
             display: none;
    } 
          

    .header-mobile-menu{
        display: flex;
        gap: 5px;
        font-size: 10px;
    }

    .header-arrow{
        width: 6px;

    }
    .header-button {
        display: none;
    }

}
