body{
    font-family: Montserrat Alternates;
}
section{
    margin: 0 130px;
}

@media screen and (max-width: 768px) {
    section {
        margin: 0 80px;
    }
}

@media screen and (max-width: 480px) {
    section {
            padding: 0 ;
        }
}